body{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, #B100FF, #d980ff);
    border-bottom: 4px solid #111111;
    height: 10vh;

}

.cabecera a{
    text-decoration: none;
    padding-inline: 20px;
    color: black;
}

.cabecera img{
    width: 200px;   
}